services:
  - type: web
    name: himalayan-yogini-api
    runtime: php
    plan: free
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      php artisan config:clear
      php artisan route:clear
      php artisan l5-swagger:generate
    startCommand: |
      php artisan serve --host 0.0.0.0 --port $PORT
      php artisan queue:listen --tries=1
      php artisan pail --timeout=0
      npm run dev
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: L5_SWAGGER_USE_ABSOLUTE_PATH
        value: true
      - key: L5_SWAGGER_UI_ASSETS_PATH
        value: vendor/swagger-api/swagger-ui/dist/
      - key: L5_SWAGGER_BASE_PATH
        value: /api
      - key: L5_SWAGGER_GENERATE_ALWAYS
        value: false
      - key: L5_FORMAT_TO_USE_FOR_DOCS
        value: json
      - key: L5_SWAGGER_DOCUMENTATIONS_DEFAULT_API_TITLE
        value: Himalayan Yoga API