services:
  - type: web
    name: himalayan-yogini-api
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: L5_SWAGGER_USE_ABSOLUTE_PATH
        value: true
      - key: L5_SWAGGER_UI_ASSETS_PATH
        value: vendor/swagger-api/swagger-ui/dist/
      - key: L5_SWAGGER_BASE_PATH
        value: /api
      - key: L5_SWAGGER_GENERATE_ALWAYS
        value: false
      - key: L5_FORMAT_TO_USE_FOR_DOCS
        value: json
      - key: L5_SWAGGER_DOCUMENTATIONS_DEFAULT_API_TITLE
        value: Himalayan Yoga API